---
import ImageMod from "@/components/ImageMod.astro";
import dateFormat from "@/lib/utils/dateFormat";
import {
  getLangFromUrl,
  getTranslations,
  slugSelector,
} from "@/lib/utils/languageParser";
import { humanize } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  tags: string[];
  categories: string[];
  allCategories: string[];
  sortedPosts: CollectionEntry<"blog">[];
};

const { tags, categories, allCategories, sortedPosts } = Astro.props;
const lang = getLangFromUrl(Astro.url);

const {
  latest_posts,
  categories: Tcategories,
  tags: Ttags,
} = await getTranslations(lang as string);
---

<div class="lg:col-4 order-1 lg:order-2">
  <!-- Latest Post -->
  <div class="bg-white dark:bg-black lg:px-8 py-10 box-shadow mb-12">
    <p class="text-h5 mb-5">{latest_posts}</p>
    <ul class="space-y-4">
      {
        sortedPosts.map((post) => {
          const slugParts = post.id.split("/");
          slugParts[0] = "blog";
          const modifiedSlug = slugParts.join("/");
          post.id = modifiedSlug;
          return (
            <li class="border-b border-border dark:border-darkmode-border pb-4">
              <div class="flex gap-x-4">
                {post.data.image && (
                  <ImageMod
                    width={170}
                    height={170}
                    class="w-21.25 h-21.25 object-cover"
                    src={post.data.image}
                    alt={post.data.title}
                    sizes="85px"
                    widths={[85, 170]}
                  />
                )}

                <div>
                  <a
                    class="flex justify-between text-text-dark dark:text-darkmode-text-dark hover:text-primary dark:hover:text-darkmode-primary no-underline! mb-2"
                    href={slugSelector(`${post.id}`, lang)}
                  >
                    {humanize(post.data.title)}
                  </a>
                  {post.data.date && (
                    <div class="text-sm">{dateFormat(post.data.date)}</div>
                  )}
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>

  <!-- categories -->
  <div class="bg-white dark:bg-black lg:px-8 py-10 box-shadow mb-12">
    <p class="text-h5 mb-5">{Tcategories}</p>
    <ul class="list-styled style-circle space-y-4">
      {
        categories.map((category) => {
          const count = allCategories.filter((c) => c === category).length;
          return (
            <li class="border-b border-border dark:border-darkmode-border pb-4">
              <span class="flex justify-between no-underline!">
                {humanize(category as unknown as string)} <span>({count})</span>
              </span>
            </li>
          );
        })
      }
    </ul>
  </div>
  <!-- tags -->
  <div class="bg-white dark:bg-black lg:px-8 py-10 box-shadow mb-12">
    <p class="text-h5 mb-5">{Ttags}</p>
    <ul class="flex flex-wrap gap-2">
      {
        tags.map((tag: string) => {
          return (
            <li class="inline-block">
              <span class="btn btn-primary bg-white dark:bg-darkmode-light text-text dark:text-darkmode-text font-normal border-none box-shadow duration-200 cursor-default btn-sm hover-ripple">
                {humanize(tag)}
              </span>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
